.icon {
    color: rgb(53, 117, 227);
    text-shadow: -4px -4px rgb(170, 193, 231);
}

.btn-login {
    background-color: white;
    border: 0.5px solid black;
    padding: 8px 30px !important;
    border-radius: 5px;
}

.btn-signup {
    background-color: rgb(53, 117, 227) !important;
    color: white !important;
    padding: 8px 20px !important;
    border-radius: 5px;
}

.innerText {
    color: rgb(53, 117, 227);
    background-color: white;
}

.jbn {
    background-color: rgb(53, 117, 227) !important;
}

.shadow {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5) !important;
}

.btn-check:checked+label {
    background-color: rgb(183, 200, 229) !important;
    color: rgb(53, 117, 227) !important;
    border: 1px solid rgb(53, 117, 227) !important;
}

.btn-group>.btn-group:not(:first-child)>.btn,
.btn-group>.btn:nth-child(n+3),
.btn-group>:not(.btn-check)+.btn {
    border-radius: 0 !important;
}

.btn-group>.btn-group:not(:last-child)>.btn,
.btn-group>.btn.dropdown-toggle-split:first-child,
.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-radius: 0 !important;
}

.circ {
    font-size: 2px;
}

img {
    height: 50px;
    width: 50px;
    border-radius: 5px;
}

.contact-btn,
.contact-btn:hover {
    background-color: rgb(53, 117, 227);
    color: white;
}
